<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/authors">Authors</a> </li>
            <li><a href="/books">Books</a> </li>
        </ul>
    </nav>

    <section>
        <fieldset>
            <legend>Create book</legend>
            <form action="/books" method="POST">
                <div>
                    <label for="">Title</label>
                    <input type="text" name= 'title'>
                </div>
                <div>
                    <label for="">Pages</label>
                    <input type="number" name= 'pages'>
                </div>
                <div>
                    <label for="">Year</label>
                    <input type="number" name= 'year'>
                </div>
                <div>
                    <label for="">Publisher</label>
                    <input type="text" name= 'publisher'>
                </div>
                <div>
                    <label for="">Author</label>
                    <select name="author" id="">
                        <% for (const author of authors) { %>
                            <option value="<%= author._id %>"><%=  author.name %></option>
                        <% } %>
                    </select>
                </div>
                <button>Submit</button>
            </form>
        </fieldset>
    </section>
</body>

</html>